/* public/css/style.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container centralizado */
.container {
    width: 80%;
    margin: 0 auto;
    /* padding: 20px; */
}

/* Estilo básico para tabelas */
table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Estilo para botões */
.btn_add, button, a.button {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

button:hover, a.button:hover {
    background-color: #0056b3;
}

/* Estilo para formulários */
form {
    display: flex;
    flex-direction: column;
}

.form {
    max-width: 550px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0,0.2);
    border-radius: .5rem;
}
.title_register {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

form label {
    margin-bottom: 5px;
}

form input, form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    align-self: flex-start;
}

/* Estilo para paginação */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f4f4f4;
}

.pagination a.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: underline;
}

.btn {
    margin-left: auto;
    margin-right: 0;
}